.specie .main{
    padding: 2em 4em;
}

.specie .main .header p{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--text-low);
    font-size: 0.9em;
    font-weight: 500;
}

.specie .main .header p svg{
    font-size: 0.9em;
    margin-right: 0.5em;
}

.specie .main .content{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.specie .main .content .text{
    margin-left: 2em;
    max-width: 20em;
}

.specie .main .content .text h3{
    font-size: 1em;
    color: var(--text-low);
    font-weight: 500;
}

.specie .main .content img{
    width: 35em;
    height: 35em;
    object-fit: cover;
}