.about .main {
    padding: 2em 4em;
}

.about h1 {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1em;
    text-align: center;
}

.about .main .content .text{
    margin-bottom: 4em;
}

.about .main .content h2 {
    color: var(--text-high);
    margin-bottom: 1em;
    border-bottom: 2px solid var(--primary-color);
    max-width: min-content;
    white-space: nowrap;
    padding-bottom: 0.5em;
}

.about .main .content p {
    color: var(--text-high);
    margin-bottom: 1em;
}
