.navbar .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: var(--text-high);
    padding: 0.5em 1em;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar .logo{
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}

.navbar .logo img{
    height: 48px;
}

.navbar .menu ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.navbar .menu ul li{
    display: flex;
    align-items: center;
}

.navbar .menu ul li svg{
    margin-left: 0.5em;
}

.navbar .menu ul li:hover{
    color: var(--primary-color);
}

.navbar .active{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.navbar .search{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2em;
    cursor: pointer;
}

.navbar .search input{
    font-size: 1em;
    margin-right: 0.5em;
    border: 0;
    background-color: transparent !important;
    border-bottom: 1px solid var(--text-low);
}


