.flex {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.corpo-especies {
  margin-top: 60px;
  margin: 40px;
  margin-bottom: 20px;
  flex: 1;
}

.margin-corpo-especies {
  width: 100%;
  padding-top: 40px;
}

.textos {
  padding-top: 20px;
  width: 100%;
}

.titulo-container {
  display: flex;
  flex-direction: row;
}

.linha-horizontal {
  width: 200px;
  border: 1px solid #000;
  border-color: #00a496;
}

.card {
  background: #fffdfd;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 48%;
  height: 314px;
}

.card-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 18px 18px 0px 0px;
}

.conteudo-card {
  padding: 16px;
}

.titulo-card {
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.texto-card {
  font-size: 16px;
  margin-top: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #777777;
}

.texto-data-card {
  font-size: 14px;
  color: rgba(119, 119, 119, 0.46);
}

.ler-mais {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
  align-items: flex-end;
}

.label-ler-mais {
  background: #00a496;
  box-shadow: 0px 2px 2px rgba(156, 39, 176, 0.2);
  border-radius: 32px;
  padding: 8px;
  padding-left: 14px;
  padding-right: 14px;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline-style: none;
}

.bto_mapa {
  background-color: #00a496;
  padding: 8px 16px;
  align-self: center;
  font-size: 16px;
  border-radius: 18px;
  border: none;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  outline-style: none;
  margin-left: 18px;
}

.bto_up {
  background-color: #00a496;
  align-self: center;
  font-size: 16px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  outline-style: none;
}

.intro {
  font-size: 18px;
  color: #777777;
  padding-left: 12px;
  border-left: 3px solid #00a496;
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 24px;
}

.texto {
  font-size: 18px;
  margin-bottom: 12px;
  line-height: 24px;
}

.image-especie {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.image-up {
  width: 20px;
  height: 12px;
}

.up-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
