# Ignorar venv
venv/

# Ignorar Dockerfile, se necessário
Dockerfile
.dockerignore

# Ignorar arquivos temporários e do sistema
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignorar arquivos estáticos que serão servidos pelo Nginx
media/
static/  