# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Ambiente virtual
Backend/Arca/venv/

# Staticfiles
Backend/Arca/staticfiles/

# Ignore Python cache files
__pycache__/
Backend/Arca/Arca/__pycache__/
Backend/Arca/myapp/__pycache__/

*.py[cod]

# Ignore migrations
migrations/
Backend/Arca/myapp/migrations/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Senhas
Frontend/.env
Backend/Arca/.env

Arca-do-Cerrado-backend/
