.map .main {
    padding: 2em 4em;
}

.map h1 {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1em;
    text-align: center;
}

.map .main .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-bottom: 4em;
}


.map .main .header h2{
    font-size: 2em;
    color: var(--text-medium);
}

.map .main .header p{
    max-width: 80%;
}

.map .main .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

