@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --background-color: #fff;
    --primary-color: #00A496;
    --text-high: rgba(0, 0, 0, 0.87);
    --text-medium: rgba(0, 0, 0, 0.65);
    --text-low: rgba(0, 0, 0, 0.30);
    --swiper-theme-color: #00A496;

    background-color: var(--background-color);
    color: var(--text-high);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    border: none;
    background-color: var(--primary-color);
    padding: 0.5em 2em;
    border-radius: 20px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    white-space: nowrap;
}

button:hover{
    color: rgba(255,255,255,0.8);
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
