.post .header{
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 0.5em;
}

.post .header .date{
    font-size: 0.9em;
    color: var(--text-medium)
}

.post .header .tag{
    font-size: 0.75em;
    font-weight: 500;
    color: var(--text-medium);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 9999px;
    padding: 0.25em 0.5em;
}

.post .summary{
    max-width: 800px;
    font-size: 0.9em;
    color: var(--text-medium);
    margin-bottom: 0.75em;
    margin-top: 0.5em;
}

.post .links {
    display: flex;
    gap: 0.5em;
    color: var(--text-low)
}

.post .links a{
    color: var(--primary-color)
}

.post .links a:hover{
    text-decoration: underline;
}