.page-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-card svg{
    font-size: 5em;
    color: var(--primary-color);
}

.page-card h3{
    font-size: 1.5em;
    color: var(--text-medium);
    font-weight: 600;
    margin-top: 0.5em;
}

.page-card p{
    text-align: center;
    max-width: 20em;
    margin-top: 0.5em;
}

.page-card button{
    background-color: var(--primary-color);
    padding: 0.5em 2em;
    border-radius: 20px;
    color: #fff;
    font-size: 1em;
    margin-top: 1em;
    cursor: pointer;
}

.page-card button:hover{
    color: rgba(255,255,255,0.8);
}