<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/leaflet/leaflet.css" rel="stylesheet"/>
    <script src="/leaflet/leaflet.js"></script>
    <script src="/leaflet/smooth_bounce/bundle.min.js"></script>
    <link href="/leaflet/marker_cluster/MarkerCluster.css" rel="stylesheet"/>
    <link href="/leaflet/marker_cluster/MarkerCluster.Default.css" rel="stylesheet"/>
    <script src="/leaflet/marker_cluster/leaflet.markercluster.js"></script>
    <title>Document</title>
</head>
<body>
    <h2>oi</h2>
    <main id="map">
    </main>
    <script src="index.js" type="module"></script>
    <script type="module">
        <h2>oi</h2>
        function configureScript() {
            if (typeof window.configureTracker === 'function') {
                window.configureTracker(import.meta.env.VITE_TRACKER_API_KEY, import.meta.env.VITE_TRACKER_WEBSITE_ID, import.meta.env.VITE_TRACKER_URL)
            }
        }

        const trackerScript = document.createElement('script');
        trackerScript.src = "https://cdn.jsdelivr.net/gh/YohannBethoule/glimpseguru-script@master/glimpseguru.min.js";
        trackerScript.defer = true;
        trackerScript.onload = configureScript;
        document.head.appendChild(trackerScript);
    </script>
</body>
</html>