.corpo {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.acessos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.acesso_agen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 40px;
  padding-left: 40px;
}

.acesso_mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 40px;
  padding-left: 40px;
}

.acesso_esp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 40px;
  padding-left: 40px;
}

.bto_Icone {
  position: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-size: 100px 100px;
  align-self: center;
  background-color: white;
  border: none;
  cursor: pointer;
  outline-style: none;
}

.titulo_Icone {
  color: #777777;
  font-size: 24px;
  text-align: center;
}

.text_Icone {
  color: grey;
  font-size: 18px;
  line-height: 1.4em;
  word-break: normal;
  width: 200px;
  margin-top: -12px;
  text-align: center;
  align-self: center;
}

.bto_acesso {
  font-size: 18px;
  margin-top: 16px;
  background-color: #00a496;
  border-radius: 18px;
  border: none;
  padding: 8px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  outline-style: none;
}

.apresentacao {
  width: 60%;
}

.sobre_pomar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.titu {
  color: #777777;
  font-size: 50px;
  align-self: center;
  font-size: 35px;
  text-transform: uppercase;
}

.text_apresen {
  color: grey;
  font-size: 20px;
  margin-top: -8px;
  line-height: 1.6em;
  word-break: normal;
  text-align: center;
  align-self: center;
}

.faca_parte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.text_faca {
  color: grey;
  margin-top: -8px;
  font-size: 20px;
  line-height: 1.6em;
  word-break: normal;
  text-align: center;
  align-self: center;
}

.contato {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 100%;
  margin-top: 12px;
}

.ordenacao {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.posi_nome {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.camp_nome {
  width: 100%;
  box-shadow: 0 0 0 0;
  border-top: 0 none;
  border-right: 0 none;
  border-left: 0 none;
  border-bottom: 1px solid #777777;
  outline: 0;
  font-size: 20px;
}

.posi_email {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-left: 50px;
}

.camp_email {
  width: 100%;
  display: block;
  box-shadow: 0 0 0 0;
  border-top: 0 none;
  border-right: 0 none;
  border-left: 0 none;
  flex-direction: column;
  border-bottom: 1px solid #777777;
  outline: 0;
  font-size: 20px;
}

.posi_msg {
  width: 100%;
  margin-top: 40px;
}

.camp_msg {
  width: 100%;
  display: block;
  box-shadow: 0 0 0 0;
  border-top: 0 none;
  border-right: 0 none;
  border-left: 0 none;
  flex-direction: column;
  border-bottom: 1px solid #777777;
  outline: 0;
  font-size: 20px;
}

.bto_msg {
  display: flex;
  margin-top: 40px;
  background-color: #00a496;
  padding: 8px 16px;
  align-self: center;
  font-size: 18px;
  border-radius: 18px;
  border: none;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  outline-style: none;
}
