.species-page .main {
padding: 2em;
}

.species-list {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 2em;
}
  
.card {
    flex: 1 0 calc(25% - 4em);
    margin-bottom: 20px;
    box-sizing: border-box;
}
  
.plant-names {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.plant-names h2 {
    margin-right: 10px;
    white-space: nowrap;
}
  
.plant-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.plant-list li {
    margin-bottom: 5px;
}

.species-page h1 {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1em;
    text-align: center;
}
  